<!-- Card -->
<section class="box feature">
    <a href="https://bitly.com/98K8eH" class="image featured"><img src={{ imgSrc }} alt={{ imgAlt }} /></a>
    <div class="inner">
        <header>
            <h2>{{ title }}</h2>
            <p>{{ subtitle }}</p>
        </header>
        {{#if read-more}}
        <p><a href="https://bitly.com/98K8eH">Read more</a></p>
        {{/if}}
    </div>
</section>