<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-small">

                <!-- Card -->
                {{> card
                    imgSrc="images/comfort.svg"
                    imgAlt="Relaxing on a sofa"
                    title="Comfortable Stays"
                    subtitle="A good rest after a long day"
                }}

            </div>
            <div class="col-4 col-12-small">

                <!-- Card -->
                {{> card
                    imgSrc="images/experience.svg"
                    imgAlt="Dancing on a sofa"
                    title="Exclusive Experiences"
                    subtitle="Something you can't find at home"
                }}

            </div>
            <div class="col-4 col-12-small">

                <!-- Card -->
                {{> card
                    imgSrc="images/homes.svg"
                    imgAlt="Houses"
                    title="Entire homes"
                    subtitle="Private space for friends or family"
                }}

            </div>
        </div>
    </div>
</div>