<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                <section class="widget links">
                    <h3>About</h3>
                    <ul class="style2">
                        <li><a href="#">How Domum works</a></li>
                        <li><a href="#">Newsroom</a></li>
                        <li><a href="#">Domum Ultra</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                <section class="widget links">
                    <h3>Community</h3>
                    <ul class="style2">
                        <li><a href="#">Diversity</a></li>
                        <li><a href="#">Accessibility</a></li>
                        <li><a href="#">Domum Associates</a></li>
                        <li><a href="#">Frontline Stays</a></li>
                        <li><a href="#">Invite friends</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Links -->
                <section class="widget links">
                    <h3>Host</h3>
                    <ul class="style2">
                        <li><a href="#">Host your home</a></li>
                        <li><a href="#">Host an Experience</a></li>
                        <li><a href="#">Responsible hosting</a></li>
                        <li><a href="#">Open Homes</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">

                <!-- Contact -->
                <section class="widget contact last">
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
                        </li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span
                                    class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span
                                    class="label">Instagram</span></a></li>
                    </ul>
                    <p><strong>Domum Help Centre</strong><br />
                        2001 Park Home Avenue<br />
                        North York, M2N 5X2<br />
                        (647) 798 6253</p>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; 2020 Domum, Inc. All rights reserved</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>