@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800|Sansita+Swashed:bold|Lato:300,bold");

:root {
	--red: #D12C23;
	--reddish: #E04F47;
	--green: #23D12C;
	--blue: #2C23D1;
	--faux-celtic-blue: #2371D1;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: #f7f7f7;
		background-position: top left, top left;
		background-repeat: repeat-x, repeat;
		background-size: 100% 30em, auto;
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}

	@media screen and (max-width: 650px) {

		body {
			line-height: 2em;
		}

	}

	input, select, textarea {
		font-family: 'Open Sans', sans-serif;
		font-size: 13pt;
		color: #696969;
		font-weight: 300;
		line-height: 2.25em;
	}

	@media screen and (max-width: 650px) {

		input, select, textarea {
			line-height: 2em;
		}

	}

	a {
		color: #0090c5;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	h1, h2, h3, h4, h5, h6 {
		color: #444;
		font-weight: 800;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
			outline: 0;
		}

	h2 {
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
	}

	h3 {
		font-size: 1.35em;
		margin: 0 0 1em 0;
	}

	@media screen and (max-width: 650px) {

		h2, h3, h4, h5, h6 {
			font-size: 13pt;
			margin: 0 0 1em 0;
		}

	}

	b, strong {
		font-weight: 600;
		color: #444;
	}

	i, em {
		font-style: italic;
	}

	br.clear {
		clear: both;
	}

	sub {
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}

	sup {
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}

	hr {
		border: 0;
		border-top: solid 1px #eee;
		margin: 2em 0;
	}

	blockquote {
		border-left: solid 0.5em #eee;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

	p, ul, ol, dl, table {
		margin-bottom: 2em;
	}

/* Container */

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 960px;
			}

		}

		@media screen and (max-width: 980px) {

			.container {
				width: 90%;
			}

		}

		@media screen and (max-width: 736px) {

			.container {
				width: 100%;
			}

		}

/* Grid */

	.grid-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: 1fr;
		gap: 2em;
	}

	@media screen and (max-width: 980px) {

		.grid-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-template-rows: 1fr;
			gap: 2em;
		}

	}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .col-2 {
			width: 16.66667%;
		}	

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row.gtr-50 {
			margin-top: -20px;
			margin-left: -20px;
		}

			.row.gtr-50 > * {
				padding: 20px 0 0 20px;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -20px;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 20px;
				}

		.row {
			margin-top: -40px;
			margin-left: -40px;
		}

			.row > * {
				padding: 40px 0 0 40px;
			}

			.row.gtr-uniform {
				margin-top: -40px;
			}

				.row.gtr-uniform > * {
					padding-top: 40px;
				}

		.row.gtr-200 {
			margin-top: -80px;
			margin-left: -80px;
		}

			.row.gtr-200 > * {
				padding: 80px 0 0 80px;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -80px;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 80px;
				}

		@media screen and (max-width: 980px) {

			.row > .col-6-medium {
				width: 50%;
			}

			.row > .col-12-medium {
				width: 100%;
			}

			.row {
				margin-top: -25px;
				margin-left: -25px;
			}

				.row > * {
					padding: 25px 0 0 25px;
				}
		}

		/* Small */
		@media screen and (max-width: 650px) {

			.row > .col-3-small {
				width: 25%;
			}

			.row > .off-3-small {
				margin-left: 25%;
			}

			.row > .col-4-small {
				width: 33.33333%;
			}

			.row > .off-4-small {
				margin-left: 33.33333%;
			}

			.row > .col-5-small {
				width: 41.66667%;
			}

			.row > .off-5-small {
				margin-left: 41.66667%;
			}

			.row > .col-6-small {
				width: 50%;
			}

			.row > .off-6-small {
				margin-left: 50%;
			}

			.row > .col-8-small {
				width: 66.66667%;
			}

			.row > .off-8-small {
				margin-left: 66.66667%;
			}

			.row > .col-12-small {
				width: 100%;
			}

			.row > .off-12-small {
				margin-left: 100%;
			}

			.row.gtr-50 {
				margin-top: -10px;
				margin-left: -10px;
			}

				.row.gtr-50 > * {
					padding: 10px 0 0 10px;
				}

				.row.gtr-50.gtr-uniform {
					margin-top: -10px;
				}

					.row.gtr-50.gtr-uniform > * {
						padding-top: 10px;
					}

			.row {
				margin-top: -20px;
				margin-left: -20px;
			}

				.row > * {
					padding: 20px 0 0 20px;
				}

				.row.gtr-uniform {
					margin-top: -20px;
				}

				.row.gtr-uniform > * {
					padding-top: 20px;
				}

			.row.gtr-200 {
				margin-top: -40px;
				margin-left: -40px;
			}

				.row.gtr-200 > * {
					padding: 40px 0 0 40px;
				}

				.row.gtr-200.gtr-uniform {
					margin-top: -40px;
				}

					.row.gtr-200.gtr-uniform > * {
						padding-top: 40px;
					}

		}
		
/* Section/Article */

	section, article {
		margin-bottom: 5em;
	}

	section > :last-child,
	article > :last-child,
	section:last-child,
	article:last-child {
		margin-bottom: 0;
	}

	header {
		margin: 0 0 2em 0;
	}

		header h2, header h3 {
			margin: 0 0 0.25em 0;
		}

		header p {
			margin: 0;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Forms */

	form label {
		display: block;
		font-weight: 800;
		margin: 1em 0 0 0;
		font-size: 0.8em;
		color: #444;
	}

	form input[type="text"],
	form input[type="date"],
	form input[type="number"],
	form input[type="email"],
	form input[type="password"],
	form input[type="url"],
	form select,
	form textarea {
		-webkit-appearance: none;
		display: block;
		width: 100%;
		border-radius: 8px;
		border: solid 1px #eee;
	}

		form input[type="text"]:focus,
		form input[type="date"]:focus,
		form input[type="number"]:focus,
		form input[type="email"]:focus,
		form input[type="password"]:focus,
		form input[type="url"]:focus,
		form select:focus,
		form textarea:focus {
			border-color: #0090c5;
		}

	form input[type="text"],
	form input[type="date"],
	form input[type="number"],
	form input[type="email"],
	form input[type="password"],
	form input[type="url"] {
		line-height: 3em;
		padding: 0 1em;
	}

	form select {
		line-height: 3em;
		padding: 0 1em;
	}

	form textarea {
		min-height: 9em;
		padding: 1em;
	}

	form p {
		margin-top: 1em;
	}

	form ::-webkit-input-placeholder {
		color: #555 !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

/* Image */

	.image {
		display: inline-block;
		outline: 0;
	}

		.image img {
			display: block;
			height: 30vh;
			max-height: 250px;
			width: 100%;
			border-radius: 8px;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2.5em 0;
		}

	@media screen and (max-width: 980px) {

		.image.featured {
			margin: 0 0 15px 0;
		}

	}

/* Date */

	.date {
		font-size: small;
		text-align: center;
	}

/* Button */

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button {
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
		-webkit-appearance: none;
		position: relative;
		display: inline-block;
		background: #e04f47;
		color: #fff;
		text-decoration: none;
		border-radius: 6px;
		font-weight: 800;
		outline: 0;
		border: 0;
		cursor: pointer;
		font-size: 1.35em;
		padding: 0.6em 1.5em;
		width: 100%;
		text-align: center;
		margin-top: 1em;
	}

		input[type="button"].icon:before,
		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		button.icon:before {
			position: relative;
			margin-right: 0.5em;
			top: 0.05em;
		}

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover {
			background: #d12c23;
		}

		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		button:active {
			background: #e04f47;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt {
			background: #f1f1f1;
			background: rgba(0, 0, 0, 0.05);
			color: #444;
		}

			input[type="button"].alt:hover,
			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			button.alt:hover {
				background: #e8e8e8;
				background: rgba(0, 0, 0, 0.085);
			}

			input[type="button"].alt:active,
			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			button.alt:active {
				background: #e4e4e4;
				background: rgba(0, 0, 0, 0.15);
			}
		
		@media screen and (max-width: 650px) {

			input[type="button"],
			input[type="submit"],
			input[type="reset"],
			button {
				font-size: 1.25em;
				padding: 0.65em 0;
			}
	
			input[type="button"].icon,
				input[type="submit"].icon,
				input[type="reset"].icon,
				button.icon {
					padding-right: 0.75em !important;
				}

					input[type="button"].icon:before,
					input[type="submit"].icon:before,
					input[type="reset"].icon:before,
					button.icon:before,
					.button.icon:before {
						margin-right: 0.5em;
						top: 0.05em;
					}
		}

/* Custom Button(s) */
	.green-btn {
		background: var(--green);
	}

	.blue-btn {
		background: var(--faux-celtic-blue);
	}

	.blue-btn:hover {
		background: #2363d1;
	}

/* Price List */
	.price-list {
		font-family: 'Lato', monospace;
	}

/* Cost */
	.cost {
		text-align: right;
	}

/* List */

	ul {
		list-style: disc;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.style2 {
			list-style: none;
			padding-left: 0;
		}

			ul.style2 li {
				padding-left: 0;
			}

/* Actions */

	ul.actions {
		list-style: none;
		padding-left: 0;
	} /* remove */

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 0.25em;
			margin: 0 0 0 0.25em;
		}

			ul.actions li:first-child {
				margin-left: 0;
				padding-left: 0;
			}

/* Menu */

	ul.menu {
		list-style: none;
		padding-left: 0;
	}

		ul.menu li {
			display: inline-block;
			padding: 0 0 0 0.75em;
			margin: 0 0 0 0.75em;
		}

			ul.menu li a {
				text-decoration: none;
				color: #696969;
			}
		
		@media screen and (max-width: 650px) {

			ul.menu li {
				display: block;
				border: 0 !important;
				padding: 0 !important;
				margin: 0 !important;
			}

		}

/* Form */

	.form {
		background: #fff;
		border-radius: 25px;
		box-shadow:
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.072),
			0 41.8px 33.4px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12)
		;
		padding: 2em;
		margin: 2em auto;
		height: fit-content;
	}

/* Box */

	.box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 2em;
	}

		.box.feature {
			padding: 0;
			height: 100%;
			max-height: 800px;
		}

			.box.feature .inner,
			.box.listing .inner {
				padding: 3em 2em 3em 2em;
			}

			.box.feature .inner a,
			.box.listing .inner a {
				text-decoration: none;
			}

			.box.feature h2,
			.box.listing h2 {
				font-size: 1.35em;
			}

			.box.feature p,
			.box.listing p {
				margin: 0;
			}

			.box.feature .image,
			.box.listing .image {
				position: relative;
				margin: 0;
			}

				.box.feature .image img,
				.box.listing .image img {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}

		.box.listing {
			padding: 0;
		}

	@media screen and (max-width: 650px) {

		.box {
			padding: 15px 15px 15px 15px;
			margin: 0;
		}

			.box.feature,
			.box.listing {
				margin: 20px 0 0 0 !important;
				padding: 0;
			}

				.box.feature .inner,
				.box.listing .inner {
					padding: 30px 15px 30px 15px;
				}

				.box.feature p {
					margin: 0;
				}

				.box.feature .image,
				.box.listing .image {
					position: relative;
					margin: 0;
				}

					.box.feature .image img,
					.box.listing .image img {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
	}

/* Text Overflow */
	
	.text-overflow-ellipse {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

/* Modal */

	.modal-box {
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		backface-visibility: hidden;
		position: fixed;
		left: 50%;
		top: -50%;
		transform: translate(-50%, -50%);
		height: 80%;
		width: 50%;
		z-index: 3;
		overflow: auto;
	}

	.modal-close {
		color: #aaa;
		float: right;
		padding: 10px 25px 0 25px;
		font-size: 28px;
		font-weight: bold;
	}

		.modal-close:hover,
		.modal-close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}

	.modal-content {
		clear: both;
		padding: 0 1em;
	}

	@media screen and (max-width: 650px) {
		.modal-box {
			width: 100%;
			height: 100%;
		}
	}

/* Icons */

	.icon {
		text-decoration: none;
		position: relative;
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon:before {
			line-height: inherit;
		}

		.icon.solid:before {
			font-weight: 900;
		} /* remove */

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon > .label {
			display: none;
		}

/* Error */

	.error {
		display: none;
		font-size: small;
		color: red;
	}

/* Widgets */

	.widget.thumbnails .grid {
		margin: 0 0 3em 0;
	}

	.widget.thumbnails .image {
		margin: 0;
	}

	.widget.contact ul {
		list-style: none;
		padding-left: 0;
		overflow: hidden;
		position: relative;
		left: -4px;
		top: 4px;
		margin-bottom: 1.5em;
	}

		.widget.contact ul li {
			display: inline-block;
			margin-right: 0.25em;
			padding-left: 0;
		}

			.widget.contact ul li a {
				-moz-transition: background-color .25s ease-in-out;
				-webkit-transition: background-color .25s ease-in-out;
				-ms-transition: background-color .25s ease-in-out;
				transition: background-color .25s ease-in-out;
				display: inline-block;
				width: 2.5em;
				height: 2.5em;
				text-align: center;
				line-height: 2.5em;
				border-radius: 0.35em;
				outline: 0;
				opacity: 0.75;
				text-decoration: none;
				background: #e04f47;
			}

				.widget.contact ul li a:before {
					color: #f3f3f3;
					font-size: 1.5em;
					line-height: inherit;
				}

				.widget.contact ul li a:hover {
					background: #d12c23;
				}

				.widget.contact ul li a:active {
					background: #666666;
				}

	@media screen and (max-width: 650px) {

		.widget.thumbnails .image {
			margin: 0;
		}

		.widget.thumbnails .x {
			padding: 1em 0.5em 0 0;
		}

		.widget.thumbnails .y {
			padding: 1em 0 0 0.5em;
		}

		.widget.thumbnails .row:first-child .x, .widget.thumbnails .row:first-child .y {
			padding-top: 0;
		}

	}

/* Slide */

	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--faux-celtic-blue);
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px var(--faux-celtic-blue);
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

/* Subcategory */
	.sub-category {
		padding: 0 10px;
	} /* remove */

/* Listing */

	.listing-header {
		text-align: center;
		padding: 5em 0 2em 0;
	}
		.listing-header h2 {
			font-family: "Sansita Swashed";
		}

	.listing-description {
		padding: 1em;
	}
	
	.listing-features {
		margin: 0 1em;
		border-bottom: 1px solid #696969;
	}

		.listing-features li {
			font-family: "Sansita Swashed";
			font-weight: 600;
		}

		.listing-details h3 {
			font-family: "Sansita Swashed";
			text-align: center;
		}

	.listing-images {
		margin: 2em 0;
	}

	@media screen and (max-width: 650px) {

		.listing-header {
			padding: 5em 15px;
		}

		.listing-header h2 {
			font-size: 1.8em;
		}

		.listing-amenities,
		.listing-guidelines {
			height: auto;
		}
	}

/* Slideshow */

	.slideshow {
		position: relative;
		margin: auto;
	}
	
	.slideshow img {
		width: 100%;
		height: auto;
		max-height: 60vh;
	}

	.slideshow > .slide {
		display: block;
	}

	.arrow {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -22px;
		padding: 16px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	#prev-slide {
		left: 0;
	}

	#next-slide {
		right: 0;
	}

	.arrow:hover {
		color: rgba(0,0,0,0.8);
	}

	.dot-bar {
		text-align: center;
	}

	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		border-radius: 50%;
		background-color: #bbb;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
		.dot.active {
			background-color: #717171;
		}

		.dot:hover {
			background-color: #717171;
		}

/* Wrappers */

	#header-wrapper {
		padding: 4.5em 0 3em 0;
	}

	#banner-wrapper {
		padding-bottom: 3em;
	}

	#features-wrapper {
		padding-bottom: 2em;
	}

	#main-wrapper,
	#hosting-wrapper {
		background: #fff;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		padding: 5em 0;
	}

	#hosting-info-wrapper {
		padding: 2em 0;
	}

	#promo-banner-wrapper {
		background: linear-gradient(45deg, #58caea, #4b45bd);
		padding: 5em 0;
	}

	#dashboard-header-wrapper {
		padding: 3em 0 5em 0;
	}

	#overview-wrapper {
		padding-bottom: 5em;
	}

	#booking-wrapper {
		padding: 3em 0;
		width: 600px;
		margin: auto;
	}

	#accommodation-wrapper {
		padding: 3em 5em;
	}

	#footer-wrapper {
		padding: 6em 0 8em 0;
	}

	@media screen and (max-width: 650px) {

		#header-wrapper {
			padding: 3em 0 1.5em 0;
		}

		#banner-wrapper {
			padding: 0 15px 0 15px;
		}

		#features-wrapper,
		#hosting-info-wrapper {
			padding: 0 15px 40px 15px;
		}

		#main-wrapper,
		#listing-wrapper,
		#footer-wrapper {
			padding: 40px 15px;
		}

		#hosting-wrapper {
			margin-top: 40px;
			padding: 40px 30px 40px 30px;
		}
		
		#promo-banner-wrapper {
			padding: 10px 15px 40px 15px;
		}

		#overview-wrapper {
			padding: 30px 15px;
		}
	}

/* Header */

	#header {
		position: relative;
	}

/* Message */

	#banner-message {
		color: #fff;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

		#banner-message h2 {
			color: #fff;
			font-family: 'Sansita Swashed', serif;
		}

	@media screen and (max-width: 980px) {

		#banner-message h2 {
			font-size: 2em;
		}

	}

/* Logo */

	#logo {
		display: inline-block;
	}

/* Nav */

	#nav {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 0.9em;
	}

		#nav ul {
			list-style: none;
			padding-left: 0;
		}

			#nav ul li {
				float: left;
				line-height: 4.5em;
				padding-left: 1.5em;
			}

				#nav ul li a, #nav ul li span {
					transition: background-color .25s ease-in-out;
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #696969;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 1em 0.5em 1em;
				}

				#nav ul li:hover a, #nav ul li:hover span {
					background: #d12c23;
					color: #fff;
				}

				#nav ul li.active a, #nav ul li.active span {
					background: #fff;
				}

				#nav ul li.current a {
					background: #d12c23;
					color: #fff;
				}
		
	#navPanel, #navToggle {
		display: none;
	}

	@media screen and (max-width: 980px) {

		#nav {
			display: none;
		}

		#navToggle {
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			transition: transform 0.5s ease;
			display: block;
			height: 44px;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 2;
		}

			#navToggle .toggle {
				text-decoration: none;
				width: 70px;
				height: 50px;
				opacity: 0.35;
				background-color: #4b45bd;
				color: #fff;
				padding: 1% 3%;
			}

				#navToggle .toggle:active {
					opacity: 0.75;
				}
		
		#navPanel {
			backface-visibility: hidden;
			display: block;
			height: 100%;
			left: -275px;
			overflow-y: auto;
			position: fixed;
			top: 0;
			width: 275px;
			z-index: 10;
			background: #fff;
			box-shadow: inset -3px 0px 0px 0px #dfdfdf;
			padding: 0 23px 0 20px;
		}

			#navPanel ul {
				list-style: none;
			}

			#navPanel a {
				display: block;
				text-decoration: none;
				height: 54px;
				line-height: 54px;
				border-top: solid 1px #e8e8e8;
				font-weight: 800;
				color: #696969;
			}
			
	}

/* Banner */

	#banner {
		position: relative;
		padding: 4.5em;
		
		background-image: url("../../images/banner.svg");
		background-size: cover;
		color: var(--reddish);
	}

		#banner h2 {
			font-size: 2.5em;
			line-height: 1.35em;
			text-align: center;
			margin: 0.1em 0 0.35em 0;
			color: inherit;
		}

		#banner h3 {
			font-size: 1.5em;
			line-height: 1.35em;
			text-align: center;
			margin: 0.1em 0 0.35em 0;
		}

		#banner p {
			font-size: 2.75em;
			line-height: 1.35em;
			margin: 0;
		}

			#banner .button.icon:before {
				position: absolute;
				right: 0.15em;
				top: 50%;
				margin-top: -0.5em;
			}

			#banner .button.alt {
				margin-bottom: 0;
			}

		#banner ul {
			list-style: none;
			padding-left: 0;
			margin: 0 0 0 2em;
		}

			#banner ul li {
				padding-left: 0;
			}

		#banner	#booking-search label {
			color: inherit;
		}

	@media screen and (max-width: 650px) {
		
		#banner {
			padding: 20px;
		}

			#banner h2 {
				font-size: 1.5em;
				text-align: center;
				margin: 5px 0 5.75px 0;
			}

			#banner h3 {
				font-size: 1em;
				text-align: center;
				margin: 5px 0 5.75px 0;
			}
	}

/* Overlay */

	#overlay {
		display: none;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

/* Registration & Login Form */

	#registration,
	#login {
		width: 50%;
		margin: auto;
	}

	@media screen and (max-width: 650px) {
		#registration,
		#login {
			width: 80%;
			margin: auto;
		}
	}

/* Room Listing */

	#room-listing .box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
		height: 69vh;
	}

/* Footer */

	#footer {
		margin-top: 0;
	}

		#footer a {
			color: inherit;
		}

	#copyright {
		color: #aaa;
		padding: 4em 0 0 0;
		text-align: center;
	}

		#copyright a {
			color: inherit;
		}

	@media screen and (max-width: 650px) {

		#footer section {
			border-bottom: solid 1px #ccc;
			padding-bottom: 3em;
			margin-bottom: 1em !important;
		}

		#copyright {
			text-align: left;
		}

	}
