<!doctype html>
<html>
    {{> head title="Become a host" }}

    <body>
        <div id="page-wrapper">
            <!-- Navbar -->
            {{> header auth }}
            <!-- Nav Sidebar -->
            {{> nav-panel auth }}
            <!-- Login/Registration -->
            {{> modal }}
            <!-- Main -->
            <div id="hosting-wrapper">
                <div class="container">
                    <div class="row gtr-200">
                        <div class="col-8 col-12-medium imp-medium">

                            <!-- Content -->
                            <div id="content">
                                <section>
                                    <h2>Hosting on Domum?</h2>
                                    <p>
                                        We are happy to help you make your home or room welcoming to travellers.
                                        You can decide your availability, prices, and house regulations.
                                    </p>
                                    <h2>We've got your back</h2>
                                    <p>
                                        We will stick up for you and handle the customer service.
                                        Meanwhile, you can focus on creating a spectacular experience.
                                    </p>
                                </section>
                            </div>
                        </div>
                        <div class="col-4 col-12-medium">

                            <!-- Sidebar -->
                            <div id="sidebar">
                                <section class="widget thumbnails">
                                    <div class="grid">
                                        <div class="row gtr-50">
                                            <a href="#" class="image featured"><img
                                                    src="https://opendoodles.s3-us-west-1.amazonaws.com/levitate.gif"
                                                    alt="A floating woman" /></a>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Information -->
            <div id="hosting-info-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-12-small">

                            <!-- Box -->
                            <section class="box feature">
                                <a href="https://bitly.com/98K8eH" class="image featured"><img src="images/setup.svg" /></a>
                                <div class="inner">
                                    <header>
                                        <h3>Setup</h3>
                                        <p>Get started in minutes</p>
                                    </header>
                                    <a href="#">Learn more</a>
                                </div>
                            </section>

                        </div>
                        <div class="col-4 col-12-small">

                            <!-- Box -->
                            <section class="box feature">
                                <a href="https://bitly.com/98K8eH" class="image featured"><img src="images/security.svg"
                                        alt="A man standing in front of a shield" /></a>
                                <div class="inner">
                                    <header>
                                        <h3>Security</h3>
                                        <p>Detailed policy to protect our clients</p>
                                    </header>
                                    <a href="#">Learn more</a>
                                </div>
                            </section>

                        </div>
                        <div class="col-4 col-12-small">

                            <!-- Box -->
                            <section class="box feature">
                                <a href="https://bitly.com/98K8eH" class="image featured"><img src="images/finance.svg" alt="People putting money into a wallet" /></a>
                                <div class="inner">
                                    <header>
                                        <h3>Finance</h3>
                                        <p>Straightforward payment process</p>
                                    </header>
                                    <a href="#">Learn more</a>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {{> footer }}
            <!-- Scripts -->
            {{> scripts }}
        </div>
    </body>
</html>