<!doctype html>
<html>
    {{> head title="Thank you" }}

    <body>
        <div id="page-wrapper">
            <!-- Navbar -->
            {{> header auth }}
            <!-- Nav Sidebar -->
            {{> nav-panel }}
            <!-- Login/Registration -->
            {{> modal }}
            <!-- Thankyou Message -->
            <div id="promo-banner-wrapper">
                <div class="container">
                    <div class="row gtr-200">
                        <div class="col-4 col-12-medium">

                            <!-- Sidebar -->
                            <div id="sidebar">
                                <section class="widget thumbnails">
                                    <div class="grid">
                                        <div class="row gtr-50">
                                            <a href="#" class="image featured"><img
                                                    src="https://opendoodles.s3-us-west-1.amazonaws.com/roller-skating.svg"
                                                    alt="A girl skating calmly" /></a>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div>

                        <div class="col-8 col-12-medium">
                            <!-- Message -->
                            <div id="banner-message">
                                <section>
                                    <h2>Thank you for booking a place with us!</h2>
                                    <p>We'll let you know when they respond to you.</p>
                                    <p>
                                        Shortly afterwards, you and the host can reach out to each other.
                                        You can discuss anything with them through our platform.
                                    </p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {{> footer }}
            <!-- Scripts -->
            {{> scripts }}
        </div>
    </body>
</html>